<hlm-dialog
	[state]="!!ticket() ? 'open' : 'closed'"
	(stateChanged)="$event === 'closed' && closeDialog.emit()"
>
	<hlm-dialog-content class="w-full max-w-[400px]" *brnDialogContent="let ctx">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Assign Ticket</h3>
			<p hlmDialogDescription>Assign ticket to a fellow staff. Click save when you're done.</p>
		</hlm-dialog-header>
	<form class="space-y-4" [formGroup]="assignTicketForm" (ngSubmit)="onSubmit()">
			<div class="py-4 grid gap-4">
					<brn-select class="inline-block" placeholder="Select a staff" formControlName="assignee">
						<hlm-select-trigger class="w-full">
							<hlm-select-value />
						</hlm-select-trigger>
						<hlm-select-content>
							@for (staff of staffList(); track staff.email) {
								<hlm-option [value]="staff.id">
									<span>{{staff.name}}</span>
								</hlm-option>
							}
						</hlm-select-content>
					</brn-select>
				</div>
			<hlm-dialog-footer>
				<button hlmBtn type="submit" [disabled]="assignTicketForm.invalid || isAssigningTicket()">
					Assign
				</button>
			</hlm-dialog-footer>
		</form>
	</hlm-dialog-content>
</hlm-dialog>