<div class="py-8">
  <img src="logo.png" alt="image" class="w-32 h-10 mx-auto mb-5">
  <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
    <div
      class="rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-md mx-auto"
    >
      <div class="flex flex-col space-y-1.5 p-6">
        <h3
          class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight"
        >
          Report an Issue
        </h3>
        <p class="text-sm text-muted-foreground">
          Let us know how we can help you.
        </p>
      </div>

      <div class="p-6 grid gap-5">
        <div class="grid gap-2">
          <label hlmLabel for="name">
            <span>Name</span>
          </label>
          <input class="w-full" hlmInput id="name" formControlName="name" />
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="company">
            <span>Company name</span>
          </label>
          <input
            class="w-full"
            hlmInput
            id="company"
            formControlName="company"
          />
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="email">
            <span>Email</span>
          </label>
          <input
            class="w-full"
            hlmInput
            id="email"
            type="email"
            formControlName="email"
          />
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="issue-type"> Issue Type </label>
          <brn-select
            class="inline-block"
            placeholder="Select an option"
            formControlName="issueType"
          >
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="incident management">Incident management</hlm-option>
              <hlm-option value="problem management">Problem management</hlm-option>
              <hlm-option value="change management">change management</hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="description">Description</label>
          <textarea
            hlmInput
            formControlName="description"
            id="description"
            class="min-h-32 w-full"
            placeholder="Describe the issue you're facing"
          ></textarea>
        </div>
      </div>

      <div class="items-center p-6 flex justify-end">
        <button
          hlmBtn
          type="submit"
          class="w-full"
          [disabled]="reportForm.invalid || isSendingEmail"
        >
          <!-- <hlm-icon name="lucideLoader2" size="sm" class="mr-2 animate-spin" /> -->
          {{ isSendingEmail ? "Loading..." : "Submit" }}
        </button>
      </div>
    </div>
  </form>
</div>
