node_modules
dist
jest.config.js
fixtures
coverage
__snapshots__


/tmp
/out-tsc
/bazel-out
npm-debug.log
yarn-error.log

.vscode
.idea
.classpath
.c9
.settings


.angular
.sass-cache
.DS_Store
Thumbs.db
