<div class="py-8">
  <img src="logo.png" alt="image" class="w-32 h-10 mx-auto mb-5" />
  <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
    <div
      class="rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-3xl mx-auto"
    >
      <div class="flex flex-col space-y-1.5 p-6">
        <h3
          class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight"
        >
          Ticket details
        </h3>
      </div>
      <div class="p-6 grid md:grid-cols-2 gap-5">
        <div class="grid gap-2">
          <label hlmLabel for="name">
            <span>Name</span>
          </label>
          <input class="w-full" hlmInput id="name" formControlName="name" />
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="email">
            <span>Email</span>
          </label>
          <input
            class="w-full"
            hlmInput
            id="email"
            type="email"
            formControlName="email"
          />
        </div>
        <div class="grid gap-2">
          <label hlmLabel for="phone">
            <span>Phone number</span>
          </label>
          <input class="w-full" hlmInput id="phone" formControlName="phone" />
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="company">
            <span>Company name</span>
          </label>
          <input
            class="w-full"
            hlmInput
            id="company"
            formControlName="company"
          />
        </div>
        <div class="grid gap-2">
          <label hlmLabel for="issue-type">Support task issue</label>
          <brn-radio-group
            class="mb-4 font-mono text-sm font-medium space-y-1"
            formControlName="issueType"
            hlm
          >
            <brn-radio hlm value="Missing fuel logs">
              <hlm-radio-indicator indicator />
              Missing fuel logs
            </brn-radio>
            <brn-radio hlm value="Missing truck locations">
              <hlm-radio-indicator indicator />
              Missing truck locations
            </brn-radio>
            <brn-radio hlm value="Missing records">
              <hlm-radio-indicator indicator />
              Missing records
            </brn-radio>
          </brn-radio-group>
        </div>
        <div class="grid gap-2">
          <label hlmLabel for="description">Description</label>
          <textarea
            hlmInput
            formControlName="description"
            id="description"
            class="min-h-32 w-full"
            placeholder="Describe the issue you're facing"
          ></textarea>
        </div>
        <div class="grid gap-2 col-span-2">
          <label hlmLabel for="ticketId">
            <span>Ticket ID</span>
          </label>
          <input
            class="w-full bg-muted pointer-events-none"
            id="ticketId"
            formControlName="ticketId"
            hlmInput
            readonly
          />
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="status"> Status </label>
          <brn-select
            class="inline-block"
            formControlName="status"
            placeholder="Select an option"
          >
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="open"> Open </hlm-option>
              <hlm-option value="in-progress"> In Progress </hlm-option>
              <hlm-option value="close"> Close </hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>

        <div class="grid gap-2">
          <label hlmLabel for="priority"> Priority </label>
          <brn-select
            class="inline-block"
            formControlName="priority"
            placeholder="Select an option"
          >
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="high"> High </hlm-option>
              <hlm-option value="medium"> Medium </hlm-option>
              <hlm-option value="low"> Low </hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>
      </div>

      <div class="items-center p-6 flex gap-5">
        <button
          hlmBtn
          class="w-full"
          type="submit"
          [disabled]="reportForm.invalid || isSendingEmail"
        >
          {{ isSendingEmail ? "Loading..." : "Create ticket" }}
        </button>
      </div>
    </div>
  </form>
</div>
