<div class="p-6 bg-gray-50 min-h-screen md:px-20">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
      <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col items-start cursor-pointer" (click)="getGlobalValue('Total Vehicle')">
        <div class="bg-blue-500 text-white p-2 rounded-full">
          <img src="/truck-fast.svg" alt="" />
        </div>
        <h2 class="text-gray-600 text-lg mt-4">Total Vehicle</h2>
        <p class="text-4xl font-bold mt-2">{{_global()?.totalVehicles}}</p>
      </div>
  
      <div class="bg-green-100 p-6 rounded-lg shadow-md flex flex-col items-start cursor-pointer" (click)="getGlobalValue('Moving Vehicles')">
        <div class="bg-green-500 text-white p-2 rounded-lg">
          <img src="/truck-fast.svg" alt="" />
        </div>
        <h2 class="text-gray-600 text-lg mt-4">Moving Vehicles</h2>
        <p class="text-4xl font-bold mt-2">{{_global()?.movingVehicles}}</p>
      </div>
  
      <div class="bg-yellow-100 p-6 rounded-lg shadow-md flex flex-col items-start cursor-pointer" (click)="getGlobalValue('Idle Vehicle')">
        <div class="bg-yellow-500 text-white p-2 rounded-lg">
          <img src="/truck-fast.svg" alt="" />
        </div>
        <h2 class="text-gray-600 text-lg mt-4">Idle Vehicle</h2>
        <p class="text-4xl font-bold mt-2">{{_global()?.idleVehicles}}</p>
      </div>
  
      <div class="bg-purple-100 p-6 rounded-lg shadow-md flex flex-col items-start cursor-pointer" (click)="getGlobalValue('Ignition off')">
        <div class="bg-purple-500 text-white p-2 rounded-lg">
          <img src="/truck-fast.svg" alt="" />
        </div>
        <h2 class="text-gray-600 text-lg mt-4">Ignition off</h2>
        <p class="text-4xl font-bold mt-2">{{_global()?.ignitionOffVehicles}}</p>
      </div>
  
      <div class="bg-red-100 p-6 rounded-lg shadow-md flex flex-col items-start cursor-pointer" (click)="getGlobalValue('Disconnected')">
        <div class="bg-red-500 text-white p-2 rounded-lg">
          <img src="/truck-fast.svg" alt="" />
        </div>
        <h2 class="text-gray-600 text-lg mt-4">Disconnected</h2>
        <p class="text-4xl font-bold mt-2">{{_global()?.disconnectedVehicles}}</p>
      </div>
  
      <div class="bg-gray-100 p-6 rounded-lg shadow-md flex flex-col items-start cursor-pointer" (click)="getGlobalValue('Total Vehicle')">
        <div class="bg-gray-500 text-white p-2 rounded-lg">
          <img src="/truck-fast.svg" alt="" />
        </div>
        <h2 class="text-gray-600 text-lg mt-4">No Signal</h2>
        <p class="text-4xl font-bold mt-2">0</p>
      </div>
    </div>
  </div>
  