<div class="flex justify-between items-center p-6 bg-white shadow-md">
    <div>
      <img src="../../main-logo.svg" alt="" class="w-24" />
      <!-- <span class="text-2xl font-bold text-green-600">RYO</> -->
    </div>
    
  <div class="flex items-center gap-2.5">
    <!-- Search bar can be hidden on smaller screens or implemented with a different approach -->
    <!-- <div class="relative hidden sm:block">
            <hlm-icon size="sm" class="absolute top-1/2 -translate-y-1/2 left-2.5 text-muted-foreground" name="lucideSearch" />
      <input
        class="w-80 bg-white pl-8"
        hlmInput
        placeholder="Search"
        type="Search"
      />
    </div> -->
    <div class="bg-white text-muted-foreground rounded-full h-8 w-8 flex items-center justify-center">
      <hlm-icon size="sm" name="lucideBell" />
    </div>
    <hlm-avatar class="h-8 w-8">
      <img
        src=""
        alt="spartan logo. Resembling a spartanic shield"
        class="h-8 w-8 rounded-full"
      />
      <span class="bg-[#FD005B] text-white" hlmAvatarFallback>
        {{_topbarDetails().staffName | initials}}
      </span>
    </hlm-avatar>
  </div>
  </div>