<div class="flex gap-3.5 items-center px-5 pt-9">
    <img src="app-icon.png" alt="image" class="size-11" />
    <div class="flex flex-col text-oryo-green">
      <h3 class="font-bold text-2xl leading-6 text-gray-400">Business Module</h3>
      <!-- <p class="text-sm font-medium">Service Desk</p> -->
    </div>
  </div>
  
  <brn-separator hlmSeparator class="mt-6 mb-9" />
  
  <div class="px-5">
    <div class="space-y-4">
      @for (navItem of mainNavigationItems; track navItem.label) {
        
        @if (navItem.routerLink) {
            <a
          hlmBtn
          variant="ghost"
          class="w-full justify-start gap-3"
          [routerLink]="navItem.routerLink"
          routerLinkActive="bg-primary text-white hover:bg-primary/95 hover:text-white"
          [routerLinkActiveOptions]="{exact: true}"
          ariaCurrentWhenActive="page"
        >
          <hlm-icon size="base" [name]="navItem.icon" />
          <span>{{ navItem.label }}</span>
        </a>
    
          }
          @if (navItem.action) {
            <a
              hlmBtn
              variant="ghost"
              (click)="navItem.action()"
              class="w-full justify-start gap-3 cursor-pointer"
            >
              <hlm-icon size="base" [name]="navItem.icon" />
              <span>{{ navItem.label }}</span>
            </a>
          }
      }
    </div>
  
    <brn-separator hlmSeparator class="mt-12 mb-8" />
  
    <div class="space-y-4">
      @for (navItem of otherNavigationItems; track navItem.label) {
        @if (navItem.routerLink) {
          <a
            hlmBtn
            variant="ghost"
            class="w-full justify-start gap-3"
            [routerLink]="navItem.routerLink"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
          >
            <hlm-icon size="base" [name]="navItem.icon" />
            <span>{{ navItem.label }}</span>
          </a>
  
        }
        @if (navItem.action) {
          <a
            hlmBtn
            variant="ghost"
            (click)="navItem.action()"
            class="w-full justify-start gap-3 cursor-pointer"
          >
            <hlm-icon size="base" [name]="navItem.icon" />
            <span>{{ navItem.label }}</span>
          </a>
        }
      }
    </div>
  </div>
 
<oryo-create-leads
	[showModal]="modalInView === 'create-leads'"
	(closeLeads)="modalInView = null"
	(LeadsCreated)="modalInView = null"
/>