
<hlm-dialog
		[state]="showModal() ? 'open' : 'closed'"
		(stateChanged)="$event === 'closed' && closeLeads.emit()"
		>
	<hlm-dialog-content
		class="w-screen max-w-2xl"
		*brnDialogContent="let ctx"
	>
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Create Leads</h3>
		</hlm-dialog-header>

		<form class="space-y-4" [formGroup]="createCompantForm" (ngSubmit)="onSubmit()">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
				<div class="space-y-2">
					<label hlmLabel for="companyName">
						<span>Company Name</span>
					</label>
					<input hlmInput class="w-full" id="companyName" formControlName="name"  autocomplete="off" />
				</div>
				<div class="space-y-2">
					<label hlmLabel for="companyName">
						<span>Contact Name</span>
					</label>
					<input hlmInput class="w-full" id="companyName" formControlName="customerName"  autocomplete="off" />
				</div>

				<div class="space-y-2">
					<label hlmLabel for="companyEmail">
						<span>Contact Email</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="companyEmail"
						type="email"
						formControlName="email"
						autocomplete="off"
					/>
				</div>


				<div class="space-y-2">
					<label hlmLabel for="companyEmail">
						<span>Contact Phone number</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="companyEmail"
						type="tel"
						formControlName="phone"
						autocomplete="off"
					/>
				</div>

				<div class="space-y-2">
					<label hlmLabel for="companyEmail">
						<span>Contact Location</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="companyEmail"
						type="text"
						formControlName="location"
						autocomplete="off"
					/>
				</div>

				<div class="space-y-2">
					<label hlmLabel for="companyEmail">
						<span>Product Offered</span>
					</label>
					  <brn-select class="block w-full" placeholder="Select" [multiple]="true" formControlName="pto">
						<hlm-select-trigger class="w-full">
						  <hlm-select-value />
						</hlm-select-trigger>
						<hlm-select-content>
							@for (item of _productOffered; track item.value) {
								<hlm-option [value]="item.value">{{item.label}}</hlm-option>
							}
						</hlm-select-content>
					  </brn-select>
				</div>
			</div>

			<hlm-dialog-footer>
				<button hlmBtn type="submit" class="w-full" [disabled]="createCompantForm.invalid || isCreatingTicket()">
					{{ isCreatingTicket() ? "Loading..." : "Create" }}
				</button>
			</hlm-dialog-footer>
		</form>
	</hlm-dialog-content>
</hlm-dialog>
