<div class=" mx-auto bg-white rounded-lg p-2 w-full">
    <div class="mb-4">
      <h2 class="text-lg font-semibold text-566A7F">Client Details</h2>
      <p class="text-sm text-566A7F">Check out each column for more details</p>
    </div>
  
    <div class="flex items-center mb-4">
      <img class="w-12 h-12 rounded-full mr-4" src="https://via.placeholder.com/150" alt="Contact person">
      <div>
        <p class="text-xs text-gray-500">Contact person</p>
        <p class="text-md font-medium text-gray-800">Adewale Yusuf</p>
      </div>
      <a href="tel:0812495058" class="ml-auto text-sm bg-D7EBE4 text-primary font-semibold py-1 px-3 rounded-full flex gap-x-2 items-center">
        <span>0812495058</span>
        <hlm-icon size="sm" name="lucidePhoneCall" class="text-primary"  />
      </a>
    </div>
  
    <div class="grid grid-cols-3 gap-4 text-gray-800 w-full">
      <div>
        <p class="text-md text-gray-500">Email</p>
        <p class="flex items-center space-x-2">
            <hlm-icon class="size-3.5 text-566A7F" name="lucideMail" />
          <span class="text-566A7F text-sm">{{'ifo@buagroup.com'}}</span>
        </p>
      </div>
  
      <div>
        <p class="text-md text-gray-500">Venue</p>
        <p class="italic text-566A7F text-sm">Ikeja City Mall, Lagos Nigeria</p>
      </div>
  
      <div>
        <p class="text-md text-gray-500">Date</p>
        <p class="italic text-566A7F text-sm">July 24, 2024</p>
      </div>
    </div>
  </div>
  