<div class="flex flex-col justify-between gap-4 sm:flex-row">
	<input
		hlmInput
		class="w-full bg-white md:w-80"
		placeholder="Filter plate numbers..."
		[ngModel]="_plateNumberFilter()"
		(ngModelChange)="_rawFilterInput.set($event)" />

	<!-- <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
		Columns
		<hlm-icon name="lucideChevronDown" class="ml-2" size="sm" />
	</button>
	<ng-template #menu>
		<hlm-menu class="w-32">
			@for (column of _brnColumnManager.allColumns; track column.name) {
				<button
					hlmMenuItemCheckbox
					[disabled]="_brnColumnManager.isColumnDisabled(column.name)"
					[checked]="_brnColumnManager.isColumnVisible(column.name)"
					(triggered)="_brnColumnManager.toggleVisibility(column.name)"
				>
					<hlm-menu-item-check />
					<span>{{ column.label }}</span>
				</button>
			}
		</hlm-menu>
	</ng-template> -->
</div>

<brn-table
	hlm
	stickyHeader
	class="border-border mt-4 block bg-background h-[334px] overflow-auto rounded-md border"
	[dataSource]="_filteredSortedPaginatedPayments()"
	[displayedColumns]="_allDisplayedColumns()"
	[trackBy]="_trackBy">
	<!-- <brn-column-def name="select" class="w-12">
		<hlm-th *brnHeaderDef>
			<hlm-checkbox [checked]="_checkboxState()" (changed)="handleHeaderCheckboxChange()" />
		</hlm-th>
		<hlm-td *brnCellDef="let element">
			<hlm-checkbox [checked]="_isPaymentSelected(element)" (changed)="togglePayment(element)" />
		</hlm-td>
	</brn-column-def> -->
	<brn-column-def name="plate_number" class="w-60 lg:flex-1">
		<hlm-th *brnHeaderDef>
			<button hlmBtn size="sm" variant="ghost" (click)="handleEmailSortChange()">
				Plate number
				<hlm-icon class="ml-3" size="sm" name="lucideArrowUpDown" />
			</button>
		</hlm-th>
		<hlm-td truncate *brnCellDef="let element">
			{{ element.plate_number }}
		</hlm-td>
	</brn-column-def>
	<brn-column-def name="nick_name" class="w-60 lg:flex-1">
		<hlm-th *brnHeaderDef>
			<button hlmBtn size="sm" variant="ghost">Nickname</button>
		</hlm-th>
		<hlm-td truncate *brnCellDef="let element">
			{{ element.nick_name }}
		</hlm-td>
	</brn-column-def>
	<brn-column-def name="vehicle_type" class="w-60 lg:flex-1">
		<hlm-th *brnHeaderDef>
			<button hlmBtn size="sm" variant="ghost">Vehicle type</button>
		</hlm-th>
		<hlm-td truncate *brnCellDef="let element">
			{{ element.vehicle_type }}
		</hlm-td>
	</brn-column-def>
	<brn-column-def name="client_fleet_group" class="w-60 lg:flex-1">
		<hlm-th *brnHeaderDef>
			<button hlmBtn size="sm" variant="ghost">Fleet group</button>
		</hlm-th>
		<hlm-td truncate *brnCellDef="let element">
			{{ element.client_fleet_group }}
		</hlm-td>
	</brn-column-def>
	<brn-column-def name="fuel_type" class="w-60 lg:flex-1">
		<hlm-th *brnHeaderDef>
			<button hlmBtn size="sm" variant="ghost">Fuel type</button>
		</hlm-th>
		<hlm-td truncate *brnCellDef="let element">
			{{ element.fuel_type }}
		</hlm-td>
	</brn-column-def>
	<brn-column-def name="device_imei" class="w-60 lg:flex-1">
		<hlm-th *brnHeaderDef>
			<button hlmBtn size="sm" variant="ghost">Device imei</button>
		</hlm-th>
		<hlm-td truncate *brnCellDef="let element">
			{{ element.device_imei }}
		</hlm-td>
	</brn-column-def>
	<brn-column-def name="actions" class="w-16">
		<hlm-th *brnHeaderDef></hlm-th>
		<hlm-td *brnCellDef="let element">
			<button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end" [brnMenuTriggerFor]="menu">
				<hlm-icon class="w-4 h-4" name="lucideEllipsis" />
			</button>

			<ng-template #menu>
				<hlm-menu>
					<hlm-menu-label>Actions</hlm-menu-label>
					<hlm-menu-separator />
					<hlm-menu-group>
						<button hlmMenuItem>Copy payment ID</button>
					</hlm-menu-group>
					<hlm-menu-separator />
					<hlm-menu-group>
						<button hlmMenuItem>View customer</button>
						<button hlmMenuItem>View payment details</button>
					</hlm-menu-group>
				</hlm-menu>
			</ng-template>
		</hlm-td>
	</brn-column-def>
	<div class="flex items-center justify-center p-20 text-muted-foreground" brnNoDataRow>No data</div>
</brn-table>

<div
	class="flex flex-col justify-end mt-4 sm:flex-row sm:items-center"
	*brnPaginator="
		let ctx;
		totalElements: _totalElements();
		pageSize: _pageSize();
		onStateChange: _onStateChange
	">
	<!-- <span class="text-sm text-muted-foreground">{{ _selected().length }} of {{ _totalElements() }} row(s) selected</span> -->
	<div class="flex mt-2 sm:mt-0">
		<brn-select class="inline-block" placeholder="{{ _availablePageSizes[0] }}" [(ngModel)]="_pageSize">
			<hlm-select-trigger class="inline-flex mr-1 w-15 h-9">
				<hlm-select-value />
			</hlm-select-trigger>
			<hlm-select-content>
				@for (size of _availablePageSizes; track size) {
					<hlm-option [value]="size">
						{{ size === 10000 ? "All" : size }}
					</hlm-option>
				}
			</hlm-select-content>
		</brn-select>

		<div class="flex space-x-1">
			<button
				size="sm"
				variant="outline"
				class="bg-background"
				hlmBtn
				[disabled]="!ctx.decrementable()"
				(click)="ctx.decrement()">
				Previous
			</button>
			<button
				size="sm"
				variant="outline"
				class="bg-background"
				hlmBtn
				[disabled]="!ctx.incrementable()"
				(click)="ctx.increment()">
				Next
			</button>
		</div>
	</div>
</div>
