<div class="flex justify-between items-center p-6 bg-white shadow">
	<div>
		<img src="main-logo.svg" alt="" class="w-24" />
	</div>
	<div class="flex items-center space-x-4">
		<div class="size-10 rounded-full flex items-center justify-center">
			<hlm-avatar class="size-8">
				<img src="" alt="avatar" hlmAvatarImage />
				<span class="bg-primary text-white" hlmAvatarFallback>
					{{ staffName! | initials }}
				</span>
			</hlm-avatar>
		</div>
	</div>
</div>

<div class="container mx-auto mt-10">
	<div class="text-center">
		<h1 class="text-1xl font-bold text-primary mb-4">
			<span class="capitalize">Hello {{ staffName }}</span>
		</h1>
		<p class="text-lg font-semibold">Kindly choose your preferred module</p>
	</div>
	<div
		class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10 p-5 overflow-y-auto">
		@for (item of modules; track item.title) {
			<a [routerLink]="item.route" class="bg-white p-6 rounded-lg shadow-md text-center cursor-pointer">
				<img [src]="item.img" [alt]="item.title" class="mx-auto mb-4" />
				<h2 class="text-lg font-medium">
					<span>{{ item.title }}</span>
					@if (item.comingSoon) {
						<span class="text-xs text-muted-foreground ml-2">(coming soon)</span>
					}
				</h2>
			</a>
		}
	</div>
</div>
