.adjusting-img {
    position: relative;
}

.adjusting-img .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    /* width: 100%;
    height: auto; */
}

/* Load Spinner  */

.lds-spinner {
    display: flex;
    justify-content: center;
  }
  
  .lds-spinner--center {
    align-items: center !important;
  }
  
  .lds-spinner::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #dddddd;
    border-top-color: #30323e00;
    border-bottom-color: #30323e00;
    border-radius: 50%;
    animation: lds-spinner 1s ease infinite;
  }
  
  @keyframes lds-spinner {
    to {
      transform: rotate(1turn);
    }
  }
  
  /* End Load Spinner */