<main class="bg-gray-50 flex items-center justify-center min-h-screen">
  <div class="w-full max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="p-8 rounded-lg hidden md:block">
      <div
        class="rounded-lg w-fit h-fit text-white p-1 text-sm"
        style="background: linear-gradient(90deg, #088158 50%, #22c55e 108.59%)"
      >
        <span> Oryo Operations </span>
      </div>
      <h1 class="text-2xl font-bold text-gray-900 mb-4">
        Oryo Operations & Service Delivery
      </h1>
      <p class="text-gray-600 mb-4 text-">
        Sign in to access modules that enhance your operations
      </p>
      <ul class="space-y-3 text-gray-700">
        <li class="flex items-start">
          <svg
            class="w-6 h-6 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
          Monitor and manage your fleet and fuel services
        </li>
        <li class="flex items-start">
          <svg
            class="w-6 h-6 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
          Noc service delivery
        </li>
        <li class="flex items-start">
          <svg
            class="w-6 h-6 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
          Log & Track issues, manage tickets, and ensure timely resolutions
        </li>
        <li class="flex items-start">
          <svg
            class="w-6 h-6 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
          Generate detailed reports, real-time data analytics and many more
        </li>
      </ul>
    </div>

    <!-- 2 -->
    <div class="bg-white p-8 px-20 shadow-md rounded-lg">
      <div class="flex items-center justify-center adjusting-img">
        <img
          src="../../../app-icon.png"
          alt="image"
          class="w-16 h-16 mb-5 logo"
        />
      </div>
      <!-- <h2 class="text-2xl text-center font-bold text-gray-900 mb-4">
        Welcome Onboard
      </h2>
      <p class="text-sm text-center font-normal text-gray-900 mb-4">
        Sign into your account
      </p> -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label
            hlmLabel
            for="currentPassword"
            class="block text-gray-700 font-semibold mb-2"
          >
            Current Password
          </label>
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            hlmInput
            type="password"
            id="currentPassword"
            formControlName="currentPassword"
          />
        </div>
        <div class="mb-4">
          <label
            hlmLabel
            for="newPassword"
            class="block text-gray-700 font-semibold mb-2"
          >
            New Password
          </label>
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            hlmInput
            type="password"
            id="newPassword"
            formControlName="newPassword"
          />
        </div>
        <div class="mb-4">
          <label
            hlmLabel
            for="confirmPassword"
            class="block text-gray-700 font-semibold mb-2"
          >
            Confrim Password
          </label>
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            hlmInput
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
        <button
          type="submit"
          class="w-full text-white p-3 rounded-lg font-semibold {{!loginForm.valid? 'bg-gray-600': 'bg-primary'}}"
          [disabled]="!loginForm.valid"
        >
          <span>Update</span>
        </button>
      </form>
    </div>
  </div>
</main>
