<!-- <img src="short-logo.svg" alt="image" class="w-32 h-10 mx-auto mb-5"> -->
<div class="flex gap-3.5 items-center px-5 pt-9">
  <img src="app-icon.png" alt="image" class="size-11" />
  <div class="flex flex-col text-oryo-green">
    <h3 class="font-bold text-3xl leading-6">ORYO</h3>
    <p class="text-sm font-medium">Service Desk</p>
  </div>
</div>

<brn-separator hlmSeparator class="mt-6 mb-9" />

<div class="px-5">
  <div class="space-y-4">
    <a
      hlmBtn
      class="bg-oryo-green w-full justify-start gap-3"
      routerLink="/"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <hlm-icon size="base" name="lucideLayoutGrid" />
      Dashboard
    </a>
    <a
      hlmBtn
      variant="ghost"
      class="w-full justify-start gap-3"
      routerLink="/tickets"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <hlm-icon size="base" name="lucideTicket" />
      Tickets
    </a>
    <a
      hlmBtn
      variant="ghost"
      class="w-full justify-start gap-3"
      routerLink="/customers"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <hlm-icon size="base" name="lucideUsers" />
      Customers
    </a>
  </div>

  <brn-separator hlmSeparator class="mt-12 mb-8" />

  <div class="space-y-4">
    <a
      hlmBtn
      variant="ghost"
      class="w-full justify-start gap-3"
      routerLink="/profile"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <hlm-icon size="base" name="lucideUser2" />
      Profile
    </a>
    <a
      hlmBtn
      variant="ghost"
      class="w-full justify-start gap-3"
      routerLink="/tickets"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <hlm-icon size="base" name="lucideLogOut" />
      Logout
    </a>
  </div>
</div>
