<!-- (stateChanged)="handleOpenCreateFormDialog($event)" -->
<hlm-dialog
		[state]="openCreateCompanyForm() ? 'open' : 'closed'"
		(stateChanged)="$event === 'closed' && openCreateCompanyForm.set(false)"
		>
	<button hlmBtn class="gap-2" size="sm" (click)="openCreateCompanyForm.set(true)">
		<hlm-icon class="size-3.5" name="lucidePlus" />
		<span>Create Budget</span>
	</button>
	<!-- <button hlmBtn brnDialogTrigger class="gap-2" size="sm">
		<hlm-icon class="size-3.5" name="lucidePlus" />
		<span>Create ticket {{ openCreateTicketForm() }}</span>
	</button> -->
	<hlm-dialog-content
		class="w-screen max-w-2xl"
		*brnDialogContent="let ctx"
	>
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Create Budget</h3>
		</hlm-dialog-header>

		<form class="space-y-4" [formGroup]="createCompantForm" (ngSubmit)="onSubmit()">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
				<div class="space-y-2">
					<label hlmLabel for="Budget">
						<span>Budget</span>
					</label>
					<input hlmInput class="w-full" id="Budget" formControlName="budget"
                    (keyup)="ontxtBudget($event)"
                    appOnlyNumbers />
				</div>

				<div class="space-y-2">
					<label hlmLabel for="ProjectValue">
						<span>Target(Project Value)</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="ProjectValue"
						type="text"
						formControlName="projectValue"
					/>
				</div>

				<div class="space-y-2">
					<label hlmLabel for="negotationValue">
						<span>Actual Target (Negotation Value)</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="negotationValue"
						type="text"
						formControlName="negotationValue"
					/>
				</div>

				<div class="space-y-2">
					<label hlmLabel for="paymentValue">
						<span>Percentage to Pay(Inital Payment Value %)</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="paymentValue"
						type="text"
						formControlName="paymentValue"
					/>
				</div>

				<div class="space-y-2">
					<label hlmLabel for="oustandingBalance">
						<span>Outstanding Balance</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="oustandingBalance"
						type="text"
						formControlName="oustandingBalance"
					/>
				</div>

				<div class="space-y-2">
					<label hlmLabel for="generatedInvoice">
						<span>Generate Invoice</span>
					</label>
					<input
						class="w-full"
						hlmInput
						id="generatedInvoice"
						type="text"
						formControlName="generatedInvoice"
					/>
				</div>
			</div>

			<hlm-dialog-footer>
				<button hlmBtn type="submit" class="w-full" [disabled]="createCompantForm.invalid || isCreatingTicket()">
					{{ isCreatingTicket() ? "Loading..." : "Create" }}
				</button>
			</hlm-dialog-footer>
		</form>
	</hlm-dialog-content>
</hlm-dialog>