<section class="pt-5">
  <div
    class="rounded-md p-1 w-fit flex justify-center items-center gap-1 bg-white shadow-sm cursor-pointer mb-2"
    (click)="goBack()"
  >
    <ng-icon name="lucideArrowLeftFromLine"></ng-icon>
    Back
  </div>

  <div class="flex flex-wrap mt-4 pt-1 pr-3 mb-3">
    <section class="w-full bg-white rounded-md p-3" hlmCard>
      <div hlmCardHeader class="flex justify-between items-center p-3">
        <h3 hlmCardTitle class="font-bold">Finances</h3>

        <div>
          <button hlmBtn type="submit" class="w-fit" (click)="openInvoce()">
            {{ "Generate Invoice" }}
          </button>
        </div>
      </div>
      <div hlmCardContent class="bg-white">
        <form action="">
          <div class="mb-4">
            <div class="flex gap-1 items-center justify-center">
              <div class="mb-4">
                <label for="company-name" class="block text-gray-700 text-sm"
                  >Budget</label
                >
                <input
                  type="tel"
                  id="company-name"
                  class="mt-1 p-2 w-full border rounded-md"
                  placeholder="0"
                  name="budget"
                  value="{{ retrievedPayload.budget }}"
                  disabled
                  (change)="handleInput($event)"
                  (keyup)="ontxtBudget($event)"
                  appOnlyNumbers
                />
              </div>
              <div class="mb-4">
                <label for="company-name" class="block text-gray-700 text-sm"
                  >Project Value</label
                >
                <input
                  type="tel"
                  id="company-name"
                  class="mt-1 p-2 w-full border rounded-md"
                  placeholder="0"
                  appOnlyNumbers
                  name="target"
                  (change)="handleInput($event)"
                />
              </div>
              <div class="mb-4">
                <label for="company-name" class="block text-gray-700 text-sm"
                  >Negotation Value</label
                >
                <input
                  type="tel"
                  id="company-name"
                  class="mt-1 p-2 w-full border rounded-md"
                  placeholder="0"
                  (keyup)="ontxtTarget($event)"
                  appOnlyNumbers
                  name="actual_target"
                  (change)="handleInput($event)"
                />
              </div>
              <div class="mb-4">
                <label for="company-name" class="block text-gray-700 text-sm"
                  >Inital payment Value(%)</label
                >
                <input
                  type="number"
                  id="company-name"
                  class="mt-1 p-2 w-full border rounded-md"
                  (keyup)="ontxtPercentage($event)"
                  placeholder="%"
                  name="percentage_to_pay"
                  (change)="handleInput($event)"
                />
              </div>
              <div class="mb-4">
                <label for="company-name" class="block text-gray-700 text-sm"
                  >Outstanding Balance</label
                >
                <input
                  type="tel"
                  id="company-name"
                  class="mt-1 p-2 w-full border rounded-md"
                  placeholder="0"
                  [value]="leftAmount || 0 | number : '1.0' : 'en-US'"
                  readonly
                  appOnlyNumbers
                  name="oustanding_balance"
                />
              </div>
              <div class="mb-4">
                <label for="company-name" class="block text-gray-700 text-sm"
                  >Invoice</label
                >
                <input
                  type="tel"
                  id="company-name"
                  readonly
                  [value]="payableAmount || 0 | number : '1.0' : 'en-US'"
                  class="mt-1 p-2 w-full border rounded-md"
                  placeholder="0"
                  appOnlyNumbers
                  name="generated_invoice"
                />
              </div>
            </div>
            <div>
              @if (target) {
              <small
                class="rounded-md"
                style="background-color: #fee7e7; color: #f50a0a; padding: 3px"
              >
                Outstanding Budget : {{ target | number : "1.0" : "en-US" }}
              </small>
              }
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

  <div class="flex flex-wrap">
    <div class="w-full md:w-6/12">
      <div class="flex flex-wrap pt-1 pr-3">
        <section class="w-full bg-white rounded-md p-3" hlmCard>
          <div hlmCardHeader class="flex justify-between items-center p-3">
            <h3 hlmCardTitle class="font-bold">Leads</h3>
            <div class="flex gap-2">
              <button
                hlmBtn
                variant="outline"
                class="border-none shadow-sm bg-primary text-white"
                size="sm"
                (click)="onToggle()"
              >
                @if (!isEditing()) {
                <span>Edit</span>
                }@else {
                <span>View</span>
                }
              </button>
            </div>
          </div>
          <div hlmCardContent class="bg-white">
            <div class="flex flex-wrap">
              <form
                class="space-y-4"
                [formGroup]="createCompantForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                  <div class="space-y-2">
                    <label hlmLabel for="companyName">
                      <span>Company Name</span>
                    </label>
                    @if (!isEditing()) {
                    <div class="text-sm">{{ _staff?.name }}</div>
                    }@else {
                    <input
                      hlmInput
                      class="w-full"
                      id="companyName"
                      formControlName="name"
                    />
                    }
                  </div>
                  <div class="space-y-2">
                    <label hlmLabel for="companyName">
                      <span>Customer Name</span>
                    </label>
                    @if (!isEditing()) {
                    <div class="text-sm">{{ _staff?.customerName }}</div>
                    }@else {
                    <input
                      hlmInput
                      class="w-full"
                      id="companyName"
                      formControlName="customerName"
                    />
                    }
                  </div>

                  <div class="space-y-2">
                    <label hlmLabel for="companyEmail">
                      <span>Email</span>
                    </label>
                    @if (!isEditing()) {
                    <div class="text-sm">{{ _staff?.email }}</div>
                    }@else {
                    <input
                      class="w-full"
                      hlmInput
                      id="companyEmail"
                      type="email"
                      formControlName="email"
                    />
                    }
                  </div>
                  <div class="space-y-2">
                    <label hlmLabel for="companyEmail">
                      <span>Phone Number</span>
                    </label>
                    @if (!isEditing()) {
                    <div class="text-sm">{{ _staff?.phone }}</div>
                    }@else {
                    <input
                      class="w-full"
                      hlmInput
                      id="companyEmail"
                      type="tel"
                      formControlName="phone"
                    />
                    }
                  </div>

                  <div class="space-y-2">
                    <label hlmLabel for="companyEmail">
                      <span>Location</span>
                    </label>
                    @if (!isEditing()) {
                    <div class="text-sm">
                      {{ _staff?.location }}
                    </div>
                    }@else {
                    <input
                      class="w-full"
                      hlmInput
                      id="companyEmail"
                      type="text"
                      formControlName="location"
                    />
                    }
                  </div>

                  <div class="space-y-2">
                    <label hlmLabel for="companyEmail">
                      <span>Product Offered</span>
                    </label>
                    @if (!isEditing()) {
                    <div class="text-sm">{{ _staff?.product_offered }}</div>
                    }@else {
                    <brn-select
                      class="w-full"
                      placeholder="Select an option"
                      formControlName="pto"
                    >
                      <hlm-select-trigger class="w-full">
                        <hlm-select-value />
                      </hlm-select-trigger>
                      <hlm-select-content class="w-full">
                        @for (item of _productOffered; track item.id) {
                        <hlm-option [value]="item.id">{{
                          item.name
                        }}</hlm-option>
                        }
                      </hlm-select-content>
                    </brn-select>
                    }
                  </div>
                </div>
                @if (isEditing()) {
                <hlm-dialog-footer>
                  <button
                    hlmBtn
                    type="submit"
                    class="w-full"
                    [disabled]="createCompantForm.invalid || isCreating()"
                  >
                    {{ isCreating() ? "Loading..." : "Update" }}
                  </button>
                </hlm-dialog-footer>
                }
              </form>
            </div>
          </div>
          <!-- <div hlmCardFooter class="justify-between">
                          <button hlmBtn variant="ghost">Cancel</button>
                          <button hlmBtn>Create</button>
                      </div> -->
        </section>
      </div>
      <div class="flex flex-wrap pt-1 pr-3 mt-2">
        <section class="w-full bg-white rounded-md p-3" hlmCard>
          <div hlmCardHeader class="flex justify-between items-center p-3">
            <h3 hlmCardTitle class="font-bold">Won</h3>
          </div>
          <div hlmCardContent class="bg-white">
            <div class="flex flex-wrap">
              <form
                class="space-y-4"
                [formGroup]="createWonForm"
                (ngSubmit)="onSubmitWon()"
              >
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                  <div class="space-y-2">
                    <label hlmLabel for="companyEmail">
                      <!-- <span>Product Offered</span> -->
                    </label>
                    <brn-select
                      class="w-full"
                      placeholder="Select an option"
                      formControlName="won"
                    >
                      <hlm-select-trigger class="w-56">
                        <hlm-select-value />
                      </hlm-select-trigger>
                      <hlm-select-content class="w-56">
                        @for (item of _won; track item.id) {
                        <hlm-option [value]="item.name">{{
                          item.name
                        }}</hlm-option>
                        }
                      </hlm-select-content>
                    </brn-select>
                  </div>
                  <button
                    hlmBtn
                    type="submit"
                    class="w-fit"
                    [disabled]="createWonForm.invalid || isCreating()"
                  >
                    {{ isCreating() ? "Loading..." : "Update" }}
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- <div hlmCardFooter class="justify-between">
                          <button hlmBtn variant="ghost">Cancel</button>
                          <button hlmBtn>Create</button>
                      </div> -->
        </section>
      </div>
    </div>

    <div class="w-full md:w-6/12">
      <div class="flex flex-wrap pt-1">
        <section
          class="w-full bg-white rounded-md h-dvh overflow-y-scroll relative"
          hlmCard
        >
          <form class="space-y-4" [formGroup]="createOpportunityForm">
            <div
              hlmCardHeader
              class="flex justify-between items-center p-3 sticky top-0 bg-white"
            >
              <h3 hlmCardTitle class="font-bold">Opportunity</h3>
              <div class="flex gap-2">
                <oryo-create-activity
                  (ticketCreated)="getChanges()"
                ></oryo-create-activity>
                <button
                  hlmBtn
                  type="button"
                  class="w-fit"
                  (click)="onSubmitOpportunity()"
                  [disabled]="
                    createCompantForm.invalid || isCreatingOpportunity()
                  "
                >
                  {{ isCreatingOpportunity() ? "Loading..." : "Submit" }}
                </button>
              </div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 p-4">
              <div class="space-y-2">
                <label hlmLabel for="siteSurvey">
                  <span>Site Survey</span>
                </label>
                <input
                  class="w-full"
                  hlmInput
                  id="siteSurvey"
                  name="siteSurvey"
                  formControlName="siteSurvey"
                  type="file"
                />
              </div>

              <div class="space-y-2">
                <label hlmLabel for="schematicDesigns">
                  <span>Schematic Designs</span>
                </label>
                <input
                  class="w-full"
                  hlmInput
                  id="schematicDesigns"
                  name="schematicDesigns"
                  formControlName="schematicDesigns"
                  type="file"
                />
              </div>

              <div class="space-y-2">
                <label hlmLabel for="technicalProposal">
                  <span>Technical Proposal</span>
                </label>
                <input
                  class="w-full"
                  hlmInput
                  id="technicalProposal"
                  name="technicalProposal"
                  formControlName="technicalProposal"
                  type="file"
                />
              </div>

              <div class="space-y-2">
                <label hlmLabel for="commercials">
                  <span>Commercials(BOM)</span>
                </label>
                <input
                  class="w-full"
                  hlmInput
                  id="commercials"
                  name="commercials"
                  formControlName="commercials"
                  type="file"
                />
              </div>

              <div class="space-y-2">
                <label hlmLabel for="purchaseOrder">
                  <span>Purchase order(PO)</span>
                </label>
                <input
                  class="w-full"
                  hlmInput
                  id="purchaseOrder"
                  name="purchaseOrder"
                  formControlName="purchaseOrder"
                  type="file"
                />
              </div>
            </div>
          </form>
          <div hlmCardContent class="bg-white h-dvh">
            <!-- Activity Comments Section -->
            <div class="p-6 w-full mx-auto">
              <!-- <div class="flex justify-between items-center mb-4">
                  <h2 class="text-xl font-bold">Activity</h2>
                </div> -->
              @if (_loading()) {
              <div class="space-y-4">
                <div class="flex items-center p-4 m-4 w-fit space-x-4">
                  <hlm-skeleton class="w-12 h-12 rounded-full" />
                  <div class="space-y-2">
                    <hlm-skeleton class="h-4 w-[250px]" />
                    <hlm-skeleton class="h-4 w-[200px]" />
                  </div>
                </div>
                <div class="flex items-center p-4 m-4 w-fit space-x-4">
                  <hlm-skeleton class="w-12 h-12 rounded-full" />
                  <div class="space-y-2">
                    <hlm-skeleton class="h-4 w-[250px]" />
                    <hlm-skeleton class="h-4 w-[200px]" />
                  </div>
                </div>
              </div>
              }@else {
              <div class="space-y-4">
                <!-- Comment 1 -->
                @for (item of storedItems; track $index) {

                <div class="flex space-x-3">
                  <div
                    class="bg-orange-200 rounded-full w-8 h-8 flex items-center justify-center"
                  >
                    <span class="text-orange-600 font-bold"></span>
                  </div>
                  <div class="flex-1">
                    <div class="flex justify-between items-center">
                      <h4 class="font-bold">{{ item?.name }}</h4>
                      <span class="text-gray-500 text-sm">{{
                        item?.created_at | date
                      }}</span>
                    </div>
                    <p class="text-gray-700 text-sm">
                      {{ item?.description }}
                    </p>
                  </div>
                </div>
                }
              </div>
              }
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
