<!-- (stateChanged)="handleOpenCreateFormDialog($event)" -->
<hlm-dialog
  [state]="openCreateCompanyForm() ? 'open' : 'closed'"
  (stateChanged)="$event === 'closed' && openCreateCompanyForm.set(false)"
>
  <button
    hlmBtn
    class="gap-2"
    size="sm"
    (click)="openCreateCompanyForm.set(true)"
  >
    <hlm-icon class="size-3.5" name="lucidePlus" />
    <span>Log Activity</span>
  </button>
  <!-- <button hlmBtn brnDialogTrigger class="gap-2" size="sm">
		<hlm-icon class="size-3.5" name="lucidePlus" />
		<span>Create ticket {{ openCreateTicketForm() }}</span>
	</button> -->
  <hlm-dialog-content class="w-screen max-w-2xl" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Activity</h3>
        </hlm-dialog-header>
        <form
          class="space-y-4"
          [formGroup]="createCompantForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="space-y-2">
            <label hlmLabel for="description">
              <span>Description</span>
            </label>
            <textarea
              class="min-h-[80px] w-full"
              hlmInput
              placeholder="Type your message here."
              id="description"
              name="description"
              formControlName="description"
            ></textarea>
          </div>

          <hlm-dialog-footer>
            <button
              hlmBtn
              type="submit"
              class="w-full"
              [disabled]="createCompantForm.invalid || isCreatingTicket()"
            >
              {{ isCreatingTicket() ? "Loading..." : "Update" }}
            </button>
          </hlm-dialog-footer>
        </form>
  </hlm-dialog-content>
</hlm-dialog>
