@let ticket = ticketItem();
@if (ticket) {
	<div class="flex justify-between items-center mt-20">
		<div class="flex items-center gap-5">
			<div class="flex items-center gap-2">
				<p>Customer name</p>
				<span class="text-muted-foreground">{{ticket.reporterName}}</span>
			</div>
			<p>Company name Dangote</p>
			<p>Start Date 21 June 2024 - 12:55 pm</p>
			<p>End Date 12 July 2024 - 12:55 pm</p>
			<p>Tracking ID 9348fjr73</p>
		</div>
		<button hlmBtn class="gap-2" size="sm">
			<span>Mark resolved</span>
		</button>
	</div>
	
	<div class="w-full overflow-x-auto mt-20 bg-white rounded-xl">
	
	</div>
	<!-- <ng-container [ngTemplateOutlet]="ticketViewContent"></ng-container> -->
} @else {
	<p>Ticket not available</p>
}




<ng-template #ticketViewContent>

</ng-template>

