@let ticket = ticketItem();
@if (ticket) {
	<div class="flex flex-wrap gap-y-3 justify-between items-center">
		<div class="flex flex-wrap *:shrink-0 items-center gap-5 text-xs">
			<div class="flex items-center gap-1.5">
				<p>Customer name</p>
				<span class="text-muted-foreground">{{ticket.reporterName}}</span>
			</div>
			<div class="flex items-center gap-1.5">
				<p>Company name</p>
				<span class="text-muted-foreground">{{ticket.reporterCompany}}</span>
			</div>
			<div class="flex items-center gap-1.5">
				<p>Created date</p>
				<span class="text-muted-foreground">{{ ticket.createdAt| date : "MMM dd, yyyy '-' hh:mm a" }}</span>
			</div>
			<div class="flex items-center gap-1.5">
				<p>Resolved date</p>
				<span class="text-muted-foreground lowercase">
					@if (ticket.resolvedAt.Valid) {
						{{ ticket.resolvedAt.Time| date : "MMM dd, yyyy '-' hh:mm a" }}
					} @else {
						---
					}
				</span>
			</div>
		</div>
		<button hlmBtn class="gap-2 bg-blue-200 text-blue-700" size="sm">
			<span>Mark resolved</span>

			<!-- <brn-select class="inline-block">
				<hlm-select-trigger>
					<hlm-select-value />
				</hlm-select-trigger>
				<hlm-select-content>
					<hlm-option [value]="TicketsStatuses.OPEN"> Open </hlm-option>
					<hlm-option [value]="TicketsStatuses.IN_PROGRESS"> In Progress </hlm-option>
					<hlm-option [value]="TicketsStatuses.RESOLVED"> Resolved </hlm-option>
					<hlm-option [value]="TicketsStatuses.CLOSED"> Closed </hlm-option>
					<hlm-option [value]="TicketsStatuses.CANCELLED"> Cancelled </hlm-option>
				</hlm-select-content>
			</brn-select> -->
		</button>
	</div>
	
	<div class="mt-5 grid grid-cols-6 gap-5 *:bg-background *:rounded-xl *:p-5 *:text-sm">
		<div class="col-span-4">
			<!-- subject -->
			 <div>
				<h3 class="font-semibold text-muted-foreground tracking-tight">
					Subject
				</h3>
				<p>{{ticket.subject}}</p>
			 </div>
			 <!-- problem -->
			 <div class="mt-8">
				<h3 class="font-semibold text-muted-foreground tracking-tight">
					Problem statement
				</h3>
				<p>{{ticket.description}}</p>
			 </div>



		</div>

		<div class="col-span-2">
			<h3 class="text-base font-semibold tracking-tight">
				Information
			</h3>

			<div class="mt-5 divide-y *:py-2">
				<div class="space-y-0.5">
					<p class="text-muted-foreground">Assigned to</p>
					<p>{{ticket.assignee.id.Valid ? ticket.assignee.name.String : ""}}</p>
				</div>
				<div class="space-y-0.5">
					<p class="text-muted-foreground">Priority</p>
					<p
					class="text-sm uppercase tracking-tighter"
					[ngClass]="{
						'text-yellow-500': ticket.priority === TicketsPriorities.HIGH,
						'text-blue-500': ticket.priority === TicketsPriorities.MEDIUM,
						'text-black': ticket.priority === TicketsPriorities.LOW,
						'text-red-500': ticket.priority === TicketsPriorities.URGENT
					}"
				>
					{{ ticket.priority | ticketPriorityDisplay }}
				</p>
				</div>
				<div class="space-y-0.5">
					<p class="text-muted-foreground">Status</p>
					<div hlmBadge [variant]="getStatusVariant(ticket.status)">
						{{ ticket.status | ticketStatusDisplay }}
					</div>
				</div>
			</div>
		</div>
	</div>
} @else {
	<p>Ticket not available</p>
}




<!-- <ng-container [ngTemplateOutlet]="ticketViewContent"></ng-container> -->
<!-- <ng-template #ticketViewContent></ng-template> -->

