<div class="flex items-center justify-between">
  <div class="font-bold">
    <p class="text-sm text-[#707EAE]">Hi {{_topbarDetails().staffName}}</p>
    <h3 class="text-3xl text-[#2B3674] flex items-center gap-2.5">
			@let backRoute = _topbarDetails().backRoute;
			@if (backRoute) {
				<span class="text-[#727376] cursor-pointer" [routerLink]="backRoute">
					<hlm-icon size="base" name="lucideCircleChevronLeft" />
				</span>
			}
			<span>{{_topbarDetails().title}}</span>
		</h3>
  </div>
  <div class="flex items-center gap-x-2.5">
    <!-- <div class="relative">
			<hlm-icon size="sm" class="absolute top-1/2 -translate-y-1/2 left-2.5 text-muted-foreground" name="lucideSearch" />
      <input
        class="w-80 bg-white pl-8"
        hlmInput
        placeholder="Search"
        type="Search"
      />
    </div> -->
    <div
      class="bg-white text-muted-foreground rounded-full size-8 flex items-center justify-center"
    >
      <hlm-icon size="sm" name="lucideBell" />
    </div>
    <hlm-avatar class="size-8">
      <img
        src=""
        alt="spartan logo. Resembling a spartanic shield"
        hlmAvatarImage
      />
      <span class="bg-[#FD005B] text-white" hlmAvatarFallback>
				{{_topbarDetails().staffName | initials}}
			</span>
    </hlm-avatar>
  </div>
</div>